.resume {
    font-size: 16px;
    border: none;
    border-bottom: 1px solid #fff;
    outline: none;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    padding: 20px;
    width: 80%;
    margin: 0 auto;
    margin-top: 20px;
    background-color: #fff;
    color: #000;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.resume h2 {
    font-size: 24px;
    margin-bottom: 10px;
}

.header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    padding: 20px;
    width: 80%;
    margin: 0 auto;
    margin-top: 20px;
    background-color: #fff;
    color: #000;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border-radius: 10px;
    padding: 20px;
    width: 80%;
    margin: 0 auto;
    margin-top: 20px;
    background-color: #fff;
    color: #000;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.content-left {
    flex: 1;
    margin-right: 50%;
}

.content-right {
    flex: 1;
    margin-left: 50%;
}

.content hr {
    border: 1px solid aliceblue;
    width: 80%;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  border: 1px solid green;
  -webkit-text-fill-color: green;
  -webkit-box-shadow: 0 0 0px 1000px #000 inset;
  transition: background-color 5000s ease-in-out 0s;
}



